.array-container {
  position: absolute;
  left: 100px;
}

.array-bar {
  width: 2px;
  background-color: #28cd7e;
  display: inline-block;
  margin: 0px 1px;
}

@media all and (max-width: 500px) {
  .array-container {
    position: absolute;
    left: 100px;
    border: black;
  }

  .array-bar {
    width: 3px;
    background-color: #28cd7e;
    display: inline-block;
    height: auto;
    margin: 0px -5px;
  }
}
